body {
  margin: 0;
  font-family: -apple-system  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  margin: 0;
  padding: 0;
 
}
body::-webkit-scrollbar {
  display: none;
}


.svg-map-custom {
 min-width: 13vw;
 margin: 1vw;
}

.svg-map__location_selected {
  fill: orange;
  cursor: pointer;
  outline: none !important;
}

.svg-map__location_default {
  fill: teal;
  cursor: pointer;
  outline: none !important;
}

.svg-map__location_default:hover {
  fill: lightblue;
}

.content{
  display: flex;
}
.footer{
  min-height: 100vh;
}

.content-cards {
  
  min-width: 70vw;
  display: flex;
  
}

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  
  margin-bottom: 15px;
  font-size: 1.4rem;
  line-height: 2.4rem;
 
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}
 

.content-map{
 min-width: 20vw;
}
.content-cards {
  margin: 5vh;
  display: flex;
  row-gap: 5vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card{
  box-shadow: -16px 6px 6px 1px rgba(55, 55, 55, .2);
  display:flex;
  width: 60%;

}
.card-image {
  width: 200px;
  height: 100%;
  
  background-size: cover;
}
.card-body{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 16px;
 
}
.card-title{
  font-size: 2rem;
  margin-top: -1rem;
}
.card-text {
  margin-bottom: 8px;
  margin-top: 8px;
  flex: auto;
  max-height: 80%;
}

.edible-container{
  display:flex;
  min-height: 70vh;
 
  padding: 0 10vw ;
  flex-direction: column;
}
.edible-section1{
  
}

.edible-title{
  
  font-size: 3rem;
  font-weight: 600;
  margin: 24px 0;
}
.edible-item{
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.edible-item-name {
  min-width: 16ch;
  font-weight: 600;
  margin-right: 16px;
  
}
.edible-item-text {
   
  font-weight: 0;
  
}
.edible-image{
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
}







.spiner{
  display: flex;
  justify-content: center;
}
